
<div class="row mb-4">
<div class="col-md-6 offset-md-3">
 <div class="media-body">
    <div class="d-flex justify-content-between align-items-center">
    
  <div><%= image_tag @user.avatar_image.url, class: "mr-3 rounded-circle", width: "128" %></div>
      <h1 class="mt-0 mb-3 display-4">
        alice
      </h1>

      <div>
        <span class="badge text-bg-secondary">
          <% if @user.private %>Private<% else %>Public<%end%>
        </span>
      </div>
    </div>
  <div class="d-flex justify-content-between">
  <div><%= @user.followers.count %> followers </div>
  <div><%= @user.leaders.count %> following </div>
  <div><%= @user.pending_followers.count %> pending </div>
  </div>

  <h5> <%= @user.name %> </h5> <br/>
  
  <%= @user.bio %><br/>
  
  <%= link_to @user.website %>


<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <%= link_to "Posts", user_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Liked photos", liked_path(@user.username), class: "nav-link" %>
  </li>
</ul>
</div>
</div>
<% @user.own_photos.each do |photo| %>
<%= render "photos/photo", photo: photo %>
<% end %>
