<div class="row mb-4">
<div class="col-md-6 offset-md-3">
<div class="card">

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
  <div class="d-flex justify-content-between">
    <div><h5 class="card-title"><%= photo.owner.username %></h5></div>
    <div>  <%= link_to edit_photo_path(photo), class: "btn btn-outline-secondary" do %>
            <i class="fas fa-edit fa-fw"></i>
          <% end %>
          <%= link_to photo, data: { turbo_method: :delete }, class: "btn btn-outline-secondary" do %>
             <i class="fas fa-trash fa-fw"></i>
          <% end %></div>
  </div>

      </li>
      
    <li class="list-group-item">
<%= image_tag photo.image.url, class: "card-img-top" %>
</li>
    <li class="list-group-item">
  <div class="card-body">
    <p class="card-text"><%= photo.caption %></p>
  </div>
  </li>

</ul>
  <ul class="list-group list-group-flush">
    <% photo.comments.each do |comment| %>
    <li class="list-group-item">
    <div class="d-flex">
    <div class="flex-shrink-0">
    <%= image_tag comment.author.avatar_image_url, class: "rounded-circle me-2", width: "36px" %>
    </div>
    <div class="flex-grow-1 ms-3">
    <h5 class="mt-0"><%= comment.author.username %></h5>
      <p><%= comment.body %></p>
      </div>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="card-body">
  <%= render "comments/form", comment: photo.comments.build %>
  </div>
</div>
</div>
</div>
